# Weather Forcasting And Analysis

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
os.chdir(r"C:\Users\hp\Desktop\Tableau")

In [3]:
weather=pd.read_csv("weather.csv")

In [4]:
weather

            date  precipitation  temp_max  temp_min  wind  weather
0     01-01-2012            0.0      12.8       5.0   4.7  drizzle
1     02-01-2012           10.9      10.6       2.8   4.5     rain
2     03-01-2012            0.8      11.7       7.2   2.3     rain
3     04-01-2012           20.3      12.2       5.6   4.7     rain
4     05-01-2012            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  27-12-2015            8.6       4.4       1.7   2.9     rain
1457  28-12-2015            1.5       5.0       1.7   1.3     rain
1458  29-12-2015            0.0       7.2       0.6   2.6      fog
1459  30-12-2015            0.0       5.6      -1.0   3.4      sun
1460  31-12-2015            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

# Exploratory Data Analysis

In [53]:
weather.isna().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
month            0
dtype: int64

In [5]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [6]:
weather["date"]=pd.to_datetime(weather['date'], format='%d-%m-%Y')

In [7]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   datetime64[ns]
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 68.6+ KB

In [54]:
# Que : Show the frist N rows of Data
weather

           date  precipitation  temp_max  temp_min  wind  weather     month
0    2012-01-01            0.0      12.8       5.0   4.7  drizzle   January
1    2012-01-02           10.9      10.6       2.8   4.5     rain   January
2    2012-01-03            0.8      11.7       7.2   2.3     rain   January
3    2012-01-04           20.3      12.2       5.6   4.7     rain   January
4    2012-01-05            1.3       8.9       2.8   6.1     rain   January
...         ...            ...       ...       ...   ...      ...       ...
1456 2015-12-27            8.6       4.4       1.7   2.9     rain  December
1457 2015-12-28            1.5       5.0       1.7   1.3     rain  December
1458 2015-12-29            0.0       7.2       0.6   2.6      fog  December
1459 2015-12-30            0.0       5.6      -1.0   3.4      sun  December
1460 2015-12-31            0.0       5.6      -2.1   3.5      sun  December

[1461 rows x 7 columns]

In [8]:
# Que: Find the different Weather conditions
weather["weather"].value_counts()

weather
rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: count, dtype: int64

In [9]:
Que : Find the number of times when weather was exactly drizzle
weather[weather["weather"] == "drizzle"]

           date  precipitation  temp_max  temp_min  wind  weather
0    2012-01-01            0.0      12.8       5.0   4.7  drizzle
26   2012-01-27            0.0       6.7      -2.2   1.4  drizzle
45   2012-02-15            0.0       7.2       0.6   1.8  drizzle
85   2012-03-26            0.0      12.8       6.1   4.3  drizzle
103  2012-04-13            0.0      15.0       3.9   4.0  drizzle
118  2012-04-28            0.0      16.1       8.3   2.5  drizzle
135  2012-05-15            0.0      24.4       9.4   4.1  drizzle
175  2012-06-24            0.0      19.4       9.4   2.0  drizzle
186  2012-07-05            0.0      24.4      10.6   3.1  drizzle
191  2012-07-10            0.0      23.9      11.1   2.3  drizzle
193  2012-07-12            0.0      25.6      13.3   2.7  drizzle
207  2012-07-26            0.0      25.6      12.8   2.2  drizzle
208  2012-07-27            0.0      18.9      13.9   2.8  drizzle
209  2012-07-28            0.0      22.2      13.3   1.7  drizzle
213  2012-08-01            0.0      23.9      13.3   2.2  drizzle
219  2012-08-07            0.0      21.1      15.0   2.6  drizzle
221  2012-08-09            0.0      24.4      14.4   3.8  drizzle
230  2012-08-18            0.0      21.7      14.4   3.0  drizzle
231  2012-08-19            0.0      23.3      15.0   2.7  drizzle
262  2012-09-19            0.0      23.9      11.7   1.9  drizzle
263  2012-09-20            0.0      19.4      10.0   2.5  drizzle
264  2012-09-21            0.0      16.1      12.8   2.1  drizzle
269  2012-09-26            0.0      19.4       9.4   1.7  drizzle
270  2012-09-27            0.0      22.8      10.0   1.7  drizzle
282  2012-10-09            0.0      16.1       8.9   1.6  drizzle
283  2012-10-10            0.0      12.2       8.3   1.4  drizzle
284  2012-10-11            0.0      13.9       7.2   1.3  drizzle
319  2012-11-15            0.0       9.4       2.8   2.4  drizzle
329  2012-11-25            0.0       8.3       1.1   3.6  drizzle
364  2012-12-30            0.0       4.4       0.0   1.8  drizzle
365  2012-12-31            0.0       3.3      -1.1   2.0  drizzle
376  2013-01-11            0.0       2.8      -2.8   1.9  drizzle
381  2013-01-16            0.0       6.1      -3.9   1.8  drizzle
382  2013-01-17            0.0       3.9      -2.8   1.0  drizzle
383  2013-01-18            0.0       3.3      -1.1   1.3  drizzle
384  2013-01-19            0.0       1.1      -0.6   1.9  drizzle
385  2013-01-20            0.0       3.3      -0.6   2.1  drizzle
386  2013-01-21            0.0       2.2      -1.7   1.1  drizzle
387  2013-01-22            0.0       3.3      -1.7   0.6  drizzle
398  2013-02-02            0.0       6.1       2.8   2.0  drizzle
406  2013-02-10            0.0       8.9       1.7   2.0  drizzle
411  2013-02-15            0.0      13.3       5.0   2.4  drizzle
432  2013-03-08            0.0      11.7       2.2   2.6  drizzle
454  2013-03-30            0.0      20.0       5.6   4.4  drizzle
472  2013-04-17            0.0      15.0       3.9   3.3  drizzle
673  2013-11-04            0.0      10.6       3.9   1.6  drizzle
1261 2015-06-15            0.0      30.0      16.1   3.5  drizzle
1282 2015-07-06            0.0      29.4      15.6   3.2  drizzle
1284 2015-07-08            0.0      30.0      14.4   1.9  drizzle
1326 2015-08-19            0.0      31.7      16.1   2.1  drizzle
1329 2015-08-22            0.0      26.7      12.2   2.5  drizzle
1330 2015-08-23            0.0      27.8      13.9   1.8  drizzle
1374 2015-10-06            0.0      18.3      10.0   2.6  drizzle

In [10]:
# Que : Find all unique wind speed values recorded in data
weather["wind"].unique()

array([4.7, 4.5, 2.3, 6.1, 2.2, 2. , 3.4, 5.1, 1.9, 1.3, 5.3, 3.2, 5. ,
       5.6, 1.6, 8.2, 4.8, 3.6, 5.4, 1.4, 3.9, 2.7, 2.6, 4.3, 2.9, 2.4,
       3. , 3.1, 1.8, 2.1, 8.1, 7.5, 5.9, 3.5, 6.4, 4.2, 7. , 6.2, 2.5,
       2.8, 5.8, 3.8, 5.2, 4.4, 6.8, 4.1, 4. , 8. , 4.6, 1.5, 6.3, 3.3,
       3.7, 1.7, 6. , 1.1, 7.3, 6.5, 5.7, 5.5, 4.9, 1. , 1.2, 9.5, 0.6,
       7.1, 7.6, 0.9, 0.4, 7.9, 7.2, 0.5, 0.7, 8.8, 0.8, 6.6, 6.9, 6.7,
       7.7])

In [11]:
# Que : Find the number of times when the wind speed was exactly 7.5 km/hrs 
weather[weather["wind"] == 7.5]

           date  precipitation  temp_max  temp_min  wind weather
51   2012-02-21            0.8      10.0       7.8   7.5    rain
1439 2015-12-10            9.4      11.7       6.1   7.5    rain

In [12]:
# Que : Get the frist 20 rows of data
weather.head(20)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain
5  2012-01-06            2.5       4.4       2.2   2.2     rain
6  2012-01-07            0.0       7.2       2.8   2.3     rain
7  2012-01-08            0.0      10.0       2.8   2.0      sun
8  2012-01-09            4.3       9.4       5.0   3.4     rain
9  2012-01-10            1.0       6.1       0.6   3.4     rain
10 2012-01-11            0.0       6.1      -1.1   5.1      sun
11 2012-01-12            0.0       6.1      -1.7   1.9      sun
12 2012-01-13            0.0       5.0      -2.8   1.3      sun
13 2012-01-14            4.1       4.4       0.6   5.3     snow
14 2012-01-15            5.3       1.1      -3.3   3.2     snow
15 2012-01-16            2.5       1.7      -2.8   5.0     snow
16 2012-01-17            8.1       3.3       0.0   5.6     snow
17 2012-01-18           19.8       0.0      -2.8   5.0     snow
18 2012-01-19           15.2      -1.1      -2.8   1.6     snow
19 2012-01-20           13.5       7.2      -1.1   2.3     snow

In [13]:
# Que : Find all instence when the wind speed above 8 and precipitation is 10
weather[(weather["wind"] > 8.0) & (weather["precipitation"] > 10)]

          date  precipitation  temp_max  temp_min  wind weather
741 2014-01-11           21.3      14.4       7.2   8.8    rain

In [14]:
weather

           date  precipitation  temp_max  temp_min  wind  weather
0    2012-01-01            0.0      12.8       5.0   4.7  drizzle
1    2012-01-02           10.9      10.6       2.8   4.5     rain
2    2012-01-03            0.8      11.7       7.2   2.3     rain
3    2012-01-04           20.3      12.2       5.6   4.7     rain
4    2012-01-05            1.3       8.9       2.8   6.1     rain
...         ...            ...       ...       ...   ...      ...
1456 2015-12-27            8.6       4.4       1.7   2.9     rain
1457 2015-12-28            1.5       5.0       1.7   1.3     rain
1458 2015-12-29            0.0       7.2       0.6   2.6      fog
1459 2015-12-30            0.0       5.6      -1.0   3.4      sun
1460 2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [15]:
# Que : which were top 10 hottest temp values
weather.sort_values(by="temp_max",ascending=False).head(10)

           date  precipitation  temp_max  temp_min  wind weather
953  2014-08-11            0.5      35.6      17.8   2.6    rain
1295 2015-07-19            0.0      35.0      17.2   3.3     sun
228  2012-08-16            0.0      34.4      18.3   2.8     sun
912  2014-07-01            0.0      34.4      15.6   3.5     sun
1306 2015-07-30            0.0      34.4      17.2   3.5     sun
1307 2015-07-31            0.0      34.4      17.8   2.6     sun
217  2012-08-05            0.0      33.9      17.8   1.9     sun
216  2012-08-04            0.0      33.9      16.7   3.7     sun
619  2013-09-11            0.0      33.9      16.1   2.4     sun
1278 2015-07-02            0.0      33.9      17.8   3.4     sun

In [16]:
# Que : Find maximum temprature from data
weather["temp_max"].max()

35.6

In [17]:
# Que : Find minimum temprature from data
weather["temp_min"].min()

-7.1

In [18]:
# Que : Extract month name from date column and create new column as month
weather["month"]=weather["date"].dt.month_name()

In [19]:
weather.head()

        date  precipitation  temp_max  temp_min  wind  weather    month
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle  January
1 2012-01-02           10.9      10.6       2.8   4.5     rain  January
2 2012-01-03            0.8      11.7       7.2   2.3     rain  January
3 2012-01-04           20.3      12.2       5.6   4.7     rain  January
4 2012-01-05            1.3       8.9       2.8   6.1     rain  January

In [20]:
# Que : Display Weather and month column from data
weather[["weather","month"]]

      weather     month
0     drizzle   January
1        rain   January
2        rain   January
3        rain   January
4        rain   January
...       ...       ...
1456     rain  December
1457     rain  December
1458      fog  December
1459      sun  December
1460      sun  December

[1461 rows x 2 columns]

In [21]:
# Que : Display the count of weather is foggy
weather[weather["weather"] == "fog"].value_counts()

date        precipitation  temp_max  temp_min  wind  weather  month
2012-07-11  0.0            27.8      13.3      2.9   fog      July         1
2015-02-11  0.0            12.8      5.6       1.0   fog      February     1
2015-05-20  0.0            23.3      10.6      1.8   fog      May          1
2015-05-15  0.0            20.0      9.4       2.8   fog      May          1
2015-05-11  0.0            13.9      10.0      2.5   fog      May          1
                                                                          ..
2014-09-04  0.0            23.9      11.1      3.1   fog      September    1
2014-08-07  0.0            25.6      13.3      2.4   fog      August       1
2014-08-06  0.0            26.1      15.0      2.2   fog      August       1
2014-07-19  0.0            25.6      15.0      5.4   fog      July         1
2015-12-29  0.0            7.2       0.6       2.6   fog      December     1
Name: count, Length: 101, dtype: int64

In [22]:
weather

           date  precipitation  temp_max  temp_min  wind  weather     month
0    2012-01-01            0.0      12.8       5.0   4.7  drizzle   January
1    2012-01-02           10.9      10.6       2.8   4.5     rain   January
2    2012-01-03            0.8      11.7       7.2   2.3     rain   January
3    2012-01-04           20.3      12.2       5.6   4.7     rain   January
4    2012-01-05            1.3       8.9       2.8   6.1     rain   January
...         ...            ...       ...       ...   ...      ...       ...
1456 2015-12-27            8.6       4.4       1.7   2.9     rain  December
1457 2015-12-28            1.5       5.0       1.7   1.3     rain  December
1458 2015-12-29            0.0       7.2       0.6   2.6      fog  December
1459 2015-12-30            0.0       5.6      -1.0   3.4      sun  December
1460 2015-12-31            0.0       5.6      -2.1   3.5      sun  December

[1461 rows x 7 columns]

In [23]:
# Que : Display Dicember month weather from data
weather[weather["month"] == "December"]

           date  precipitation  temp_max  temp_min  wind weather     month
335  2012-12-01            4.1      13.3       8.3   5.5    rain  December
336  2012-12-02           19.6       8.3       7.2   6.2    rain  December
337  2012-12-03           13.0       9.4       7.2   4.4    rain  December
338  2012-12-04           14.2      11.7       7.2   6.2    rain  December
339  2012-12-05            1.5       8.9       4.4   5.0    rain  December
...         ...            ...       ...       ...   ...     ...       ...
1456 2015-12-27            8.6       4.4       1.7   2.9    rain  December
1457 2015-12-28            1.5       5.0       1.7   1.3    rain  December
1458 2015-12-29            0.0       7.2       0.6   2.6     fog  December
1459 2015-12-30            0.0       5.6      -1.0   3.4     sun  December
1460 2015-12-31            0.0       5.6      -2.1   3.5     sun  December

[124 rows x 7 columns]

In [24]:
# Que : Display those record when weather is rainey
weather[weather["weather"] == "rain"]

           date  precipitation  temp_max  temp_min  wind weather     month
1    2012-01-02           10.9      10.6       2.8   4.5    rain   January
2    2012-01-03            0.8      11.7       7.2   2.3    rain   January
3    2012-01-04           20.3      12.2       5.6   4.7    rain   January
4    2012-01-05            1.3       8.9       2.8   6.1    rain   January
5    2012-01-06            2.5       4.4       2.2   2.2    rain   January
...         ...            ...       ...       ...   ...     ...       ...
1452 2015-12-23            6.1       5.0       2.8   7.6    rain  December
1453 2015-12-24            2.5       5.6       2.2   4.3    rain  December
1454 2015-12-25            5.8       5.0       2.2   1.5    rain  December
1456 2015-12-27            8.6       4.4       1.7   2.9    rain  December
1457 2015-12-28            1.5       5.0       1.7   1.3    rain  December

[641 rows x 7 columns]

# Machine Learning

In [26]:
weather.head(1)

        date  precipitation  temp_max  temp_min  wind  weather    month
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle  January

In [28]:
weather["weather"].value_counts()

weather
rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: count, dtype: int64

In [29]:
x=weather.drop(["weather","date","month"], axis=1)
x

      precipitation  temp_max  temp_min  wind
0               0.0      12.8       5.0   4.7
1              10.9      10.6       2.8   4.5
2               0.8      11.7       7.2   2.3
3              20.3      12.2       5.6   4.7
4               1.3       8.9       2.8   6.1
...             ...       ...       ...   ...
1456            8.6       4.4       1.7   2.9
1457            1.5       5.0       1.7   1.3
1458            0.0       7.2       0.6   2.6
1459            0.0       5.6      -1.0   3.4
1460            0.0       5.6      -2.1   3.5

[1461 rows x 4 columns]

In [30]:
y=weather["weather"]
y

0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object

In [31]:
weather["weather"].value_counts()

weather
rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: count, dtype: int64

In [32]:
y=weather['weather'].replace({'rain': 1, 'sun': 2,"fog":3,"drizzle":4,"snow":5})
y

0       4
1       1
2       1
3       1
4       1
       ..
1456    1
1457    1
1458    3
1459    2
1460    2
Name: weather, Length: 1461, dtype: int64

In [33]:
9x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [34]:
Lr=LogisticRegression()

In [35]:
Lr.fit(x_train,y_train)

C:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [38]:
y_test
y_test=np.array(y_test).reshape(-1,1)
y_test

array([[2],
       [2],
       [1],
       [1],
       [1],
       [5],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [2],
       [3],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [4],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [3],
       [2],
       [2],
       [3],
       [2],
       [2],
       [1],
       [1],
       [1],
       [4],
       [2],
       [1],
       [3],
       [4],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [3],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [3],
       [2],
       [2],
       [1],
       [3],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [1],
       [3],
       [2],
       [2],
       [2],
       [5],
       [1],
       [1],
       [3],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [5],
       [2],
       [1],
       [4],
       [1],
       [2],
       [1],
       [3],
       [1],
       [1],
       [2],
       [1],
       [2],
       [3],
       [1],
       [1],
       [3],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [3],
       [2],
       [3],
       [2],
       [1],
       [2],
       [5],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [3],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [3],
       [1],
       [2],
       [1],
       [2],
       [2],
       [3],
       [2],
       [3],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [3],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [5],
       [2],
       [2],
       [1],
       [1],
       [1],
       [3],
       [3],
       [2],
       [2],
       [2],
       [1],
       [1],
       [4],
       [3],
       [3],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [4],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [3],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [3]], dtype=int64)

In [40]:
weather.head()

        date  precipitation  temp_max  temp_min  wind  weather    month
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle  January
1 2012-01-02           10.9      10.6       2.8   4.5     rain  January
2 2012-01-03            0.8      11.7       7.2   2.3     rain  January
3 2012-01-04           20.3      12.2       5.6   4.7     rain  January
4 2012-01-05            1.3       8.9       2.8   6.1     rain  January

In [43]:
Lr.predict([[7.2,6.6,7.9,5.5]])

C:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [46]:
Lr.predict([[0.0,12.8,5.0,4.7]])

C:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([2], dtype=int64)

In [47]:
Lr.predict(x_test)

array([2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 2, 2,
       2, 1, 2, 1, 2, 2, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 2, 2, 1, 1,
       1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1,
       1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2,
       1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 2,
       1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 1, 2, 2, 1, 2,
       2, 1, 2, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 2, 2,
       2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 2, 1, 1, 2, 1, 1, 2, 2, 2,
       1, 1, 2, 1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2,
       1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2,
       1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1,
       2, 1, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       2, 2, 1, 1, 2, 2, 2], dtype=int64)

In [49]:
accuracy= accuracy_score(y_test, Lr.predict(x_test))

In [50]:
accuracy

0.8464163822525598

In [57]:
weather

           date  precipitation  temp_max  temp_min  wind  weather     month
0    2012-01-01            0.0      12.8       5.0   4.7  drizzle   January
1    2012-01-02           10.9      10.6       2.8   4.5     rain   January
2    2012-01-03            0.8      11.7       7.2   2.3     rain   January
3    2012-01-04           20.3      12.2       5.6   4.7     rain   January
4    2012-01-05            1.3       8.9       2.8   6.1     rain   January
...         ...            ...       ...       ...   ...      ...       ...
1456 2015-12-27            8.6       4.4       1.7   2.9     rain  December
1457 2015-12-28            1.5       5.0       1.7   1.3     rain  December
1458 2015-12-29            0.0       7.2       0.6   2.6      fog  December
1459 2015-12-30            0.0       5.6      -1.0   3.4      sun  December
1460 2015-12-31            0.0       5.6      -2.1   3.5      sun  December

[1461 rows x 7 columns]